.Header {
  background-color: white;
  padding: .5em 1em 0em 1em;
  color: white;
  text-align: center;
}

.Header-title {
  color:black;
  font-size: 1.5em;
  font-weight:bold;
}

.Header-title a:hover {
  color:black;
  text-decoration:none;
}

.aboutXTRA {
  text-align:left!important;
  margin-bottom:0em!important;
  padding-bottom:0em!important;
}

.aboutXTRA a {
  color:grey;
  font-size:.8em;
}

.aboutXTRA a:hover {
  text-decoration:none;
  color:black;
}

.Header .getStartedButtonCol {
  margin-right:0em;
  padding-right:0em;
}

.Header .getStartedButton {
  font-size:.9em!important;
  padding:.5em 1.5em!important;
  float:right;
}

@media (max-width: 768px) {
  .Header-title {
    text-align:left;
  }
}

.Header-title a {
  color:black;
}
