#XtraNav {
  background:white!important;
  margin-bottom:1em;
}
#XtraNav a {
  color: black;
}

/*
@media (min-width: 768px) {
  .navbar-brand {
      position: absolute;
      left: 50%;
      text-align: center;
      margin:0 auto;
  }
}

@media (max-width: 768px) {
  #XtraNav .mr-auto {
    display: none;
  }
} */
