#XtraNav {
  background:white!important;
  margin:0em auto 0em auto;
  padding: .5em 0em .5em 0em;
}

#XtraNav .navWrap {
  padding: 0em!important;
}

#XtraNav .nav {
  background:white!important;
  max-width:1140px;
  margin: 0em auto 0em auto;
}

#XtraNav .nav a {
  color: rgba(0, 0, 0, 0.5);
  font-size:.9em;
  text-transform: uppercase;
  padding-left:0em!important;
  padding-right:.5em!important;
}

#XtraNav .col-10 {
  padding-left: 0em;
}

#XtraNav .col-2 {
  padding-right: 0em;
}

#XtraNav .getStartedButton {
  font-size:.9em!important;
  padding:.25em .5em!important;
  float:right;
}

.visible {
  display: block!important;
}

.hidden {
  display: none!important;
}
